<section id="create-user">
    <div class="container">
        <div class="row">
            <h1>Create a new user</h1>
            <p>Please fill the form with your user info</p>

            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                @for (field of formFields; track field.name) {
                    <app-form-field [formFieldInputs]="field"/>
                }
                <button type="submit" [disabled]="!userForm.valid">Create</button>
            </form>

            <p>Already have an account? <a class="text-with-link" routerLink="/login">Sign In</a></p>
        </div>
    </div>
</section>
