<section id="login-page">
    <div class="container">
        <div class="row">
            <h1>Login</h1>
            <p>You can login with your registered account and not other method like social media, for now.</p>

            <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                @for (field of fields; track $index) {
                    <app-form-field [formFieldInputs]="field" />
                }

                <button type="submit">Submit</button>
            </form>

            <p class="error-message">{{ errorMessage }}</p>
        </div>
    </div>
</section>
